@media screen and (max-width: 500px) {
 

  html {
    font-size: 15px !important;} 

  .mainheader{
    font-size: 5rem !important;
  } 

  main {
    grid-row: 15/ 35 !important;
  
  }

  header {
    grid-row: 1 / 15;
  }

  .footer {
    grid-row: 35/ 41;
  }

  .paragraph__main {
    font-size: 5rem !important;
  }

  .main__offer {
    justify-content: flex-start;
  }


  }
  