@charset "UTF-8";
@media screen and (max-width: 360px) {
  main {
    grid-template-columns: repeat(10, 10px); }
  .navigation {
    flex-direction: column; } }

html {
  box-sizing: border-box;
  font-size: 10px; }

*,
*:after,
*::before {
  box-sizing: inherit; }

body {
  display: grid;
  grid-template-columns: repeat(12, 20vh);
  grid-template-rows: repeat(20, 10vh);
  background-color: gray;
  margin: 1px; }

header {
  grid-column: 1 / 12;
  grid-row: 1 / 9; }

main {
  grid-column: 1 / 12;
  grid-row: 9 / 18; }

.mainheader {
  text-align: center;
  font-family: 'Black Ops One', sans-serif;
  font-size: 3rem; }

h3 {
  font-family: 'Black Ops One', sans-serif;
  font-size: 4rem; }

/*MENU*/
.el {
  color: yellow;
  font-size: 5rem;
  margin: 4rem;
  font-family: 'Black Ops One', sans-serif; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  font-family: 'Black Ops One', sans-serif; }
  .navigation__menu {
    list-style: none;
    margin: 4rem; }
  .navigation__menu--li {
    display: inline-block; }

.link {
  margin: 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bolder;
  color: yellow; }

.link:hover {
  font-size: 3rem; }

.contact {
  transform: rotate(0deg);
  animation: ani 0.5s ease 1s infinite alternate none; }

@keyframes ani {
  0% {
    rotate: 35deg; } }

.tel {
  margin-left: 3rem; }

/*KONIEC MENU*/
/*Baner*/
.start {
  margin: 5rem; }

.billboard {
  color: yellow;
  font-weight: bolder;
  font-size: 5rem;
  font-family: 'Black Ops One', sans-serif;
  transform: perspective(23rem);
  animation: animacja 5s ease 1s infinite alternate none; }

.name:hover {
  animation-play-state: paused; }

@keyframes animacja {
  0% {
    margin-left: 0;
    background: black; }
  25% {
    margin-left: 5%;
    background: #1a1919; }
  50% {
    margin-left: 15%;
    background: #777573; }
  75% {
    margin-left: 30%;
    background: #3a3b3a; }
  100% {
    margin-left: 60%;
    background: #0a0c0a; } }

/*Koniec Baner*/
/*Strona Główna*/
.section__main {
  display: flex;
  justify-content: space-between;
  margin: 5rem; }

.paragraph__main {
  text-align: center;
  font-size: 4rem;
  font-family: 'Black Ops One', sans-serif; }

.Section__area {
  display: flex;
  margin: 5rem; }

.area {
  flex-direction: column; }
  .area__towns {
    font-family: 'Black Ops One', sans-serif;
    transform: rotate(45deg);
    font-size: 3rem; }

.uwaga {
  transform: rotate(35deg);
  margin: 5rem; }

.uwaga__one {
  margin: 5rem; }

/*Koniec Strona Główna*/
/*OFFER*/
.section__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem; }

.li__offer {
  display: inline;
  font-family: 'Black Ops One', sans-serif;
  font-size: 4rem;
  text-decoration: underline; }

/*Koniec OFFER*/
/*Contact*/
.section__contact {
  grid-column: 1 / 12;
  grid-row: 8 / 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem; }

.paragraph__contact {
  text-align: center;
  font-size: 3rem;
  font-family: 'Black Ops One', sans-serif; }

/*koniec contact*/
/*footer*/
footer {
  grid-column: 1 / 12;
  grid-row: 18 / 21;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black; }

.botton {
  font-family: 'Black Ops One', sans-serif;
  font-size: 2rem;
  color: yellow;
  margin: 5rem; }

/*koniec footer*/
