@import "responsible.scss";

html {
    box-sizing: border-box;
  }
  *,
  *:after,
  *::before {
    box-sizing: inherit;
  }

  main {   
  display: grid;
  grid-template-columns: repeat(9, 10vw);
  grid-template-rows: repeat(15, 10vh);
  background-color: gray;
  }

  header {
    grid-column: 1 / 11;
    grid-row:  1 / 8;
  }
  @mixin font {
    font-family: 'Black Ops One', sans-serif; 
  }
  
  h3 {
    @include font;
    font-size: 40px;
  }



/*MENU*/

.el {
  color: yellow;
  font-size: 50px;
  margin-top: 50px;
  margin-left: 30px;
  @include font;
}

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    background-color: black;
    @include font;
    &__menu {
      list-style: none;
    margin-bottom: 50px;}
    &__menu--li{
    display: inline-block;
    }
  }

.link {
    margin-right: 3vh;
    color: black;
    text-decoration: none;
    font-size: 4vh;
    font-weight: bolder;
    color: yellow;
} 

.link:hover { 
    font-size: 25px;
}

.contact {
  transform: rotate(0deg);
  animation: ani 0.5s ease 1s infinite alternate none;
  margin-right: 10px;
 
}

.tel {
  margin-left: 18px;
}

/*KONIEC MENU*/

/*Baner*/

.start {
  margin: 3vh;

}

.billboard {
    color: yellow;
    font-weight: bolder;
    font-size: 7vh;
    @include font;
    transform: perspective(23rem);
    animation: animacja 5s ease 1s infinite alternate none;
}

.name:hover { animation-play-state:paused; }

@keyframes animacja
{
0% { margin-left: 0; background: black }
25% { margin-left: 5%; background: rgb(26, 25, 25) }
50% { margin-left: 15%; background: rgb(119, 117, 115) }
75% { margin-left: 30%; background: rgb(58, 59, 58) }
100% { margin-left: 60%; background: rgb(10, 12, 10) }
}

.mainheader {
  text-align: center;
  @include font;
}

/*Koniec Baner*/

/*Strona Główna*/

.section__main {

  grid-column: 2 / 10;
  grid-row: 7 / 10 ;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.paragraph__main {
  text-align: center;
  font-size: 40px;
  @include font;
}

.Section__area {
  grid-column: 2 / 10;
  grid-row: 13 / 15;
  display: flex;
}
.area{
flex-direction: column;
&__towns {
  @include font;
transform: rotate(45deg);
font-size: 25px;
}
}

.uwaga {
  transform: rotate(35deg);
  margin:30px;
}

.uwaga__one {
  margin:30px;
}

/*Koniec Strona Główna*/
 
/*OFFER*/

.section__offer {
  grid-column: 2 / 10;
  grid-row: 8 / 10 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.li__offer{
  display: inline;
  @include font;
  font-size: 40px;
  text-decoration:underline;
}

/*Koniec OFFER*/

/*Contact*/

.section__contact {
  grid-column: 2 / 10;
  grid-row: 8 / 10 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px; 
}

.paragraph__contact {
  text-align: center;
  font-size: 30px;
  @include font;
}

/*koniec contact*/

/*footer*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black; 
}

.botton {
   @include font;
    color: yellow;
    margin: 20px;
  }
/*koniec footer*/